<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix *ngIf="iconePrefixo"> {{ iconePrefixo }} </mat-icon>
  <input matInput [matAutocomplete]="auto" [formControl]="nome"/>
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete [displayWith]="displayNomeEstado" #auto="matAutocomplete">
    <mat-option *ngFor="let uf of unidadesFederativas" [value]="uf">
      {{ uf.sigla }} - {{ uf.nome }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
